.ipynb_checkpoints
*.pt
__pycache__
/project-dog-classification/dogImages
/project-dog-classification/lfw
raw
/project-face-generation/processed_celeba_small
/project-face-generation/processed-celeba-small.zip
/cycle-gan/summer2winter-yosemite
